footer{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    position: fixed; /*always at the bottom even if scrolled*/
    bottom: 0; /*always at the bottom even if scrolled*/
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
